<!DOCTYPE html>
<html>
<head>
    <link href="~/Stylesheet/StyleSheet1.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h2> Hi, my name is Ukechi Dikio</h2>

    <div class="container" style="background-color:lightgrey">
        <div class="col-md-6">
            <h2>Bio</h2>
            <p> My name is Ukechi Dikio, I am a university student. I am very passionate about doing things that I want to do.
                Fortuately, this includes programming. I really enjoy school sometimes and I honestlt cannot wait to be done with university. I would like
                to become a designer or developer of sorts, not too sure, just know that I do not want to do web development. Web programming languages are the 
                bain of my existence. I enjoy project management, I think I'm really good at deciding what needs to be done and guiding people to the preferred outcome.
                I'm really good at deciding what needs to be done, the figuring out of how to do what needs to be done is a different story. I enjoy drawing, I miss watching 
                anime. I'm a bit antisocial, but I love drama lowkey. I like C#, SQL and a little less python because of the indent obsession.
            </p>
        </div>

        <div class="col-md-6">
            <h2> Here is what I look like</h2>
            <p>Image of me here</p>
            <img src="~/Backimage/me.jpg" />
            <p> Here's an orange</p>
            <img src="~/Backimage/avatar orange.gif" />
        </div>
    </div>
</body>
</html>